<div class="pop_up_content">
	<div class="content">
		<div class="header">
			<button class="fechar" (click)="modalCtrl.dismiss()">
				<svg xmlns="http://www.w3.org/2000/svg" width="16.159" height="16.159" viewBox="0 0 16.159 16.159"> <path id="close" d="M9.56,8.216l6.292-6.292a1.047,1.047,0,0,0-1.48-1.48L8.079,6.735,1.787.443a1.047,1.047,0,0,0-1.48,1.48L6.6,8.216.307,14.508a1.047,1.047,0,1,0,1.48,1.48L8.079,9.7l6.292,6.292a1.047,1.047,0,1,0,1.48-1.48Zm0,0" transform="translate(0 -0.136)" /> </svg>
			</button>
			<h2>Inserir anexo</h2>
		</div>
		<form ngNativeValidate (ngSubmit)="salvarAnexo()">
			<div class="list_item">
				<label>Desrição</label>
				<div class="item">
					<input required type="text" [(ngModel)]='data.descricao' name="descricao" />
				</div>
				<label>Anexo</label>
				<div class="item">
					<input readonly type="text" (click)="selecionarAnexo()" [value]="data.nameFile || ''" />
				</div>
			</div>
			<div class="buttons">
				<button class="cancelar" type="button" (click)="modalCtrl.dismiss()">cancelar</button>
				<button class="confirm" type="submit">salvar</button>
			</div>
		</form>
	</div>
</div>