<div class="pop_up_content">
  <div class="content">
    
    <div class="alert_content">
        <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44"><g transform="translate(-233.373 -320.499)"><g transform="translate(233.373 320.601)"><circle cx="22" cy="22" r="22" transform="translate(0 -0.102)" fill="#e18e00"/></g><g transform="translate(254.166 332.153)"><g transform="translate(0 0)"><rect width="3.982" height="3.982" transform="translate(0 15.927)" fill="#fff"/><rect width="3.982" height="11.945" fill="#fff"/></g></g></g></svg>
        <h2>Deseja excluir o cadastro desse Pet?</h2>
        <p [hidden]="!havePlan">Vimos que você tem um plano vinculado ao seu pet. Ao excluir esse cadastro, também será cancelado o plano. Concorda em continuar?</p>
    </div>

    <div class="buttons">
        <button class="cancelar" (click)="dismiss()">cancelar</button>
        <button class="confirm" (click)="excluirPet()">ok</button>
    </div>
  </div>
</div>


