<ion-content>
    <div class="content" *ngIf="route.snapshot.params.action == 'novo'">
        <svg id="check_1_" data-name="check (1)" xmlns="http://www.w3.org/2000/svg" width="118" height="118" viewBox="0 0 118 118"> <path id="Caminho_7" data-name="Caminho 7" d="M59,0a59,59,0,1,0,59,59A59.065,59.065,0,0,0,59,0Zm0,0" fill="#00d58d"/> <path id="Caminho_8" data-name="Caminho 8" d="M197.66,173.722,165.7,205.68a4.912,4.912,0,0,1-6.952,0L142.77,189.7a4.916,4.916,0,0,1,6.952-6.952l12.5,12.5,28.483-28.482a4.916,4.916,0,0,1,6.952,6.952Zm0,0" transform="translate(-108.756 -127.225)" fill="#fafafa"/> </svg>
        <h1>Cadastro realizado com sucesso!</h1>
        <p>O Cartão foi registrado e a mensalidade da sua assinatura AupetHeinsten começará a ser debitada mensalmente!</p>
        <div class="button_content">
            <button class="voltar_home" (click)="verPet()">visualizar meu pet</button>
        </div>
    </div>

    <div class="content" *ngIf="route.snapshot.params.action == 'updateValue'">
        <svg id="check_1_" data-name="check (1)" xmlns="http://www.w3.org/2000/svg" width="118" height="118" viewBox="0 0 118 118"> <path id="Caminho_7" data-name="Caminho 7" d="M59,0a59,59,0,1,0,59,59A59.065,59.065,0,0,0,59,0Zm0,0" fill="#00d58d"/> <path id="Caminho_8" data-name="Caminho 8" d="M197.66,173.722,165.7,205.68a4.912,4.912,0,0,1-6.952,0L142.77,189.7a4.916,4.916,0,0,1,6.952-6.952l12.5,12.5,28.483-28.482a4.916,4.916,0,0,1,6.952,6.952Zm0,0" transform="translate(-108.756 -127.225)" fill="#fafafa"/> </svg>
        <h1>Plano alterado com sucesso!</h1>
        <p>O plano e o valor da sua assinatura AupetHeinsten foram alterados e será debitado mensalmente no valor correspondente!</p>
        <div class="button_content">
            <button class="voltar_home" (click)="verPet()">visualizar meu pet</button>
        </div>
    </div>

</ion-content>