<ion-content>
  <div class="content">
    <svg id="check_1_" data-name="check (1)" xmlns="http://www.w3.org/2000/svg" width="118" height="118" viewBox="0 0 118 118">
      <path id="Caminho_7" data-name="Caminho 7" d="M59,0a59,59,0,1,0,59,59A59.065,59.065,0,0,0,59,0Zm0,0" fill="#00d58d" />
      <path id="Caminho_8" data-name="Caminho 8" d="M197.66,173.722,165.7,205.68a4.912,4.912,0,0,1-6.952,0L142.77,189.7a4.916,4.916,0,0,1,6.952-6.952l12.5,12.5,28.483-28.482a4.916,4.916,0,0,1,6.952,6.952Zm0,0" transform="translate(-108.756 -127.225)" fill="#fafafa" />
    </svg>
    <h1>{{text.titulo}}</h1>
    <p>{{text.paragrafo}}</p>

    <div class="button_content" *ngIf="cadastro !='adesao' " >
      <button class="voltar_home" routerLink="/">Voltar para home</button>
    </div>
    <div class="button_content" *ngIf="cadastro =='adesao' " >
      <button class="voltar_home" routerLink="/associado">Voltar para home</button>
    </div>
  </div>
</ion-content>