@import "./../../mixins.scss";

app-contrato {
    ion-content{
        .content{
            @include content;
            min-height: calc(100% - 25vw);
            padding: 11.1vw 6.9vw 10vw;
    
            .dados_termo{
                padding: 0 0 4.2vw;
    
                .item{
                    margin: 0 0 4.2vw;
                    @include input_1;

                    button{
                        @include button_1;
                        margin: 0;
                    }
                }
            }
            .botoes{
                button{
                    margin: 5vw 0 0;
                    @include button_1;
                }
            }
        }
    }

    @media(min-width: 450px){
        ion-content{
            .content{
                min-height: calc(100% - 112px);
                padding: 50px 31px 45px;
        
                .dados_termo{
                    padding: 0 0 19px;
        
                    .item{
                        margin: 0 0 19px;

                        button{
                            margin: 0;
                        }
                    }
                }
                .botoes{
                    button{
                        margin: 22px 0 0;
                    }
                }
            }
        }
    }

    @media(min-width: 1000px){
        ion-content{
            border-bottom: 30px solid #772e8a;

            .content{
                width: 800px;
                max-width: initial;

                .dados_termo{
                    @include flex-wrap;
                    justify-content: space-between;

                    .item{
                        width: calc((100% - 20px)/2);

                        button{
                            width: 100%;
                        }
                    }
                }
                .botoes{
                    @include flex-wrap;
                    justify-content: space-between;
                    width: 100%;
                 
                    button{
                        width: calc((100% - 20px)/2);
                    }
                }
            }
        }
    }
}
