@font-face {
    font-family: opensans;
    src: url(assets/fonts/opensans/OpenSans-Regular.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: opensans;
    src: url(assets/fonts/opensans/OpenSans-Italic.ttf) format("opentype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: opensans;
    src: url(assets/fonts/opensans/OpenSans-Bold.ttf) format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: opensans;
    src: url(assets/fonts/opensans/OpenSans-BoldItalic.ttf) format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: opensans;
    src: url(assets/fonts/opensans/OpenSans-Light.ttf) format("opentype");
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: opensans;
    src: url(assets/fonts/opensans/OpenSans-LightItalic.ttf) format("opentype");
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: opensans;
    src: url(assets/fonts/opensans/OpenSans-SemiBold.ttf) format("opentype");
    font-weight: 500;
    font-style: normal;
}
