/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./fonts.scss";
@import "./mixins.scss";



input[type="submit"],input[type="radio"],input[type="checkbox"]{
    cursor: pointer;
}

*{
    outline: none !important;
    font-family: opensans;
    cursor: default;
}
button *{
    cursor: pointer;
}

ion-content{
    font-family: opensans;
    --background: url(assets/img/bg_content_patern.png);

    @media (min-width: 1000px){
        --background: white;
    }

    .header_simples{
        height: 25vw;
        background-image: url(assets/img/bg_header.png);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 44.4vw;
        position: relative;
        max-width: 450px;
        margin: 0 auto;
        
        button.voltar{
            position: absolute;
            background: transparent;
            padding: 0;
            width: 13.9vw;
            height: 13.9vw;
            top: 9.2vw;
            left: 1.9vw;
        
            svg{
                width: 2.2vw;
                height: auto;
            }
        }
        h1{
            margin: 0;
            text-align: center;
            font-family: opensans;
            font-size: 5vw;
            font-weight: 500;
            color: white;
            padding: 13.3vw 0 0;
        }

        img.logo{ display: none; }

        @media (min-width: 450px){
            height: 112px;
            background-image: none;
            
            button.voltar{
                width: 63px;
                height: 63px;
                top: 41px;
                left: 9px;
            
                svg{
                    width: 10px;
                }
            }
            h1{
                font-size: 22px;
                padding: 60px 0 0;
            }
        }

        @media (min-width: 1000px){
            width: 100%;
            height: 100px;
            max-width: initial;
            background: #772E8A;

            button.voltar{
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
            }
            h1{
                padding: 0;
                position: absolute;
                left: 95px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 21px;
            }
    
            img.logo{ 
                display: block; 
                position: absolute;
                left: 50%;
                top: 50%;
                width: 115px;
                height: 65px;
                transform: translate(-50%, -50%);
            }
        }
    }

    .header_icon{
        position: relative;
        height: 43vw;
        background: url(assets/img/bg_content_patern.png);
        border-radius: 0 0 9.7vw 9.7vw;
        max-width: 450px;
        margin: 0 auto;
        
        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(assets/img/bg_header.png);
            background-repeat: no-repeat;
            background-position: right top;
            background-size: 44.4vw;
        }
    
        button.voltar{
            position: absolute;
            background: transparent;
            padding: 0;
            width: 13.9vw;
            height: 13.9vw;
            top: 9.2vw;
            left: 1.9vw;
            z-index: 1;
            
            svg{
                width: 2.2vw;
                height: auto;
            }
        }
        h1{
            position: relative;
            margin: 0;
            text-align: center;
            font-family: opensans;
            font-size: 5vw;
            font-weight: 500;
            color: white;
            padding: 13.3vw 0 0;
        }

        @media(min-width: 450px){
            height: 193px;
            border-radius: 0 0 44px 44px;
            
            &:before{
                background-size: 200px;
            }
        
            button.voltar{
                width: 63px;
                height: 63px;
                top: 41px;
                left: 9px;
                
                svg{
                    width: 10px;
                }
            }
            h1{
                font-size: 22px;
                padding: 60px 0 0;
            }
        }
        @media(min-width: 1000px){
            display: none;
        }
    }
    
    button.adicionar{
        padding: 0;
        width: 62px;
        height: 62px;
        background: #772E8A;
        border-radius: 50%;
        @include flex-wrap;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 70px;
        right: 30px;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.7);
        z-index: 10;
        
        svg{
            width: 24px;
            height: auto;
        }

        @media (min-width: 1000px){
            bottom: 85px;
        }
    }
}


input:-internal-autofill-selected{
    color: -internal-light-dark(black, black) !important;
    -webkit-text-fill-color: #757575;
}

input:-webkit-autofill, 
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
textarea:-webkit-autofill, 
textarea:-webkit-autofill:hover, 
textarea:-webkit-autofill:focus, 
select:-webkit-autofill, 
select:-webkit-autofill:hover, 
select:-webkit-autofill:focus{
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
    transition: background-color 5000s ease-in-out 0s;
}
select,
input,
textarea {
  -webkit-appearance: none;
}


//MODAL
ion-modal, ion-popover{
	background-color: rgba(0, 0, 0, 0.8) !important;
}
ion-viewer-modal{
	background-color: rgba(0, 0, 0, 0.6) !important;

    ion-content{
        --background: transparent;
    }
}
.modal-wrapper {
    box-shadow: none !important;
    width: 100% !important;
    height: 100% !important;
}

.modal-wrapper.sc-ion-modal-md,
.modal-wrapper.sc-ion-modal-ios {
	background: none !important;
}

*[small-load="on"]{
    color: transparent !important;
    pointer-events: none;
    position: sticky;
    filter: opacity(0.9);
    transition: all .3s;
  
    &:before{
      content: "";
      position: absolute;
      background: url(assets/icon/loading_roxo.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation-name: rotate_load;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
}
*[data-load="on"]{
    color: transparent !important;
    pointer-events: none;
    position: sticky;
    filter: opacity(0.9);
    transition: all .3s;
  
    &:before{
      content: "";
      position: absolute;
    //   background: url(assets/icon/loading.svg);
      background: url(assets/icon/loading/passo_1.svg);
      background-position: center !important;
      background-repeat: no-repeat !important;
      background-size: contain !important;
    //   width: 20px;
    //   height: 20px;
      width: 40px;
      height: 30px;
      top: calc(50% - 7px);
      left: 50%;
      transform: translate(-50%, -50%);
    //   animation-name: rotate_load;
      animation-name: patas_animate;
      animation-duration: 6s;
      animation-iteration-count: infinite;
    }
    &:after{
      content: "Carregando";
      position: absolute;
      color: white;
      font-size: 9px;
      top: calc(50% + 13px);
      left: 50%;
      transform: translate(-50%, -50%);
      animation-name: text_load;
      animation-duration: 6s;
      animation-iteration-count: infinite;
    }
}
@keyframes rotate_load {
    100%{
        transform: translate(-50%, -50%) rotate(1080deg);
    }
}
@keyframes patas_animate {
    0%{
        background: url(assets/icon/loading/passo_1.svg);
    }
    25%{
        background: url(assets/icon/loading/passo_2.svg);
    }
    50%{
        background: url(assets/icon/loading/passo_3.svg);
    }
    75%{
        background: url(assets/icon/loading/passo_4.svg);
    }
}
@keyframes text_load {
    0%{
        content: 'Carregando';
    }
    25%{
        content: 'Carregando.'
    }
    50%{
        content: 'Carregando..'
    }
    75%{
        content: 'Carregando...'
    }
    100%{
        content: 'Carregando'
    }
}
[unselect] {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}