<div class="pop_up_content">
    <div class="content">
        <h2>Selecione as especialidades:</h2>
        <div class="list_item">
            <div class="item" *ngFor="let item of especialidades">
                <input type="checkbox" id="{{ item.id }}" [(ngModel)]="item.selecionado" name="selecionado">
                <label class="checkbox" for="{{ item.id }}">{{ item.nome }}</label>
            </div>
        </div>
        <div class="buttons">
            <button class="cancelar" (click)="dismiss()">cancelar</button>
            <button class="confirm" (click)="selecionar()">ok</button>
        </div>
    </div>
</div>