<div class="pop_up_content">
    <div class="content">
        <div class="header">
            <button class="fechar" (click)="dismiss()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16.159" height="16.159" viewBox="0 0 16.159 16.159">
            <path id="close" d="M9.56,8.216l6.292-6.292a1.047,1.047,0,0,0-1.48-1.48L8.079,6.735,1.787.443a1.047,1.047,0,0,0-1.48,1.48L6.6,8.216.307,14.508a1.047,1.047,0,1,0,1.48,1.48L8.079,9.7l6.292,6.292a1.047,1.047,0,1,0,1.48-1.48Zm0,0" transform="translate(0 -0.136)"/></svg></button>
            <h2>Alterar dados cliente</h2>
        </div>
        <div class="list_item">
            <div class="item">
                <input type="text" placeholder=" " name="nome" [(ngModel)]="data.nome">
    			<label class="placeholder">Nome completo</label>
            </div>
            <div class="item">
                <input type="email" placeholder=" " name="email" [(ngModel)]="data.email">
    			<label class="placeholder">E-mail</label>
            </div>
            <div class="item">
                <input placeholder=" " type="tel" mask="(99) 99999-9999" name="telefone" [(ngModel)]="data.telefone">
    			<label class="placeholder">Telefone</label>
            </div>
        </div>
        <div class="buttons">
            <button class="cancelar" (click)="dismiss()">cancelar</button>
            <button class="confirm" [attr.data-load]="load ? 'on' : ''" (click)="salvar()">salvar</button>
        </div>
    </div>
</div>