<div class="pop_up_content">
    <div class="content">

        <div class="header">
            <button class="fechar" (click)="dismiss()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16.159" height="16.159" viewBox="0 0 16.159 16.159">
            <path id="close" d="M9.56,8.216l6.292-6.292a1.047,1.047,0,0,0-1.48-1.48L8.079,6.735,1.787.443a1.047,1.047,0,0,0-1.48,1.48L6.6,8.216.307,14.508a1.047,1.047,0,1,0,1.48,1.48L8.079,9.7l6.292,6.292a1.047,1.047,0,1,0,1.48-1.48Zm0,0" transform="translate(0 -0.136)"/></svg></button>
            <h2>Adicionar Pet</h2>
        </div>

        <div class="list_item">
            <div class="item">
                <input type="text" placeholder=" " [(ngModel)]='pet.nome'>
    			<label class="placeholder">Nome do pet <sup>*</sup></label>
            </div>
            <div class="item">
                <select [attr.data-value]="pet.id_especie" [(ngModel)]='pet.id_especie' placeholder="Espécie" (change)="selectRaca(pet.id_especie)">
                    <option value="undefined" hidden></option>
                    <option *ngFor="let especie of especie" value="{{especie.id}}">{{especie.titulo}}</option>
                </select>
                <label class="placeholder">Espécie <sup>*</sup></label>
            </div>
            <div class="item">
                <select [attr.data-value]="pet.id_raca" [(ngModel)]='pet.id_raca'>
                    <option value="undefined" hidden></option>
                    <option *ngFor="let racas of raca" value="{{racas.id}}" >{{racas.titulo}}</option>
                </select>
                <label class="placeholder">Raça <sup>*</sup></label>
            </div>
            <div class="item">
                <select [attr.data-value]="pet.sexo" [(ngModel)]='pet.sexo'>
                    <option value="undefined" hidden ></option>
                    <option value="Macho">Macho</option>
                    <option value="Femea">Femea</option>
                </select>
                <label class="placeholder">Sexo <sup>*</sup></label>
            </div>
            <div class="item">
                <select [attr.data-value]="pet.porte" [(ngModel)]='pet.porte'>
                    <option value="undefined" hidden ></option>
                    <option value="grande">Grande</option>
                    <option value="medio">Médio</option>
                    <option value="pequeno">Pequeno</option>
                </select>
                <label class="placeholder">Porte <sup>*</sup></label>
            </div>
            <div class="item">
                <select [attr.data-value]="pet.id_plano" [(ngModel)]='pet.id_plano'>
                    <option value="undefined" hidden></option>
                    <option *ngFor="let plano of planos" value="{{plano.id}}" >{{plano.titulo}} - {{plano.valor}}</option>
                </select>
                <label class="placeholder">Selecione o plano <sup>*</sup></label>
            </div>
        </div>
        <div class="buttons">
            <button class="cancelar" (click)="dismiss()">cancelar</button>
            <button class="confirm" (click)="salvar()">salvar</button>
        </div>
    </div>
</div>