<div class="header_simples_component">
    <button class="voltar back-button" (click)="backFunction()"><svg xmlns="http://www.w3.org/2000/svg " width="8.075 " height="13.744 " viewBox="0 0 8.075 13.744 "> <g id="right-arrow " transform="translate(109.553 13.744) rotate(180) "> <g id="Grupo_3
        " data-name="Grupo 3 " transform="translate(101.478) "> <path id="Caminho_2 " data-name="Caminho 2 " d="M109.333,6.336,103.217.22a.753.753,0,0,0-1.063,0l-.45.45a.753.753,0,0,0,0,1.063l5.136,5.136L101.7,12.011a.754.754,0,0,0,0,1.063l.45.45a.753.753,0,0,0,1.063,0L109.333,7.4a.759.759,0,0,0,0-1.067Z
        " transform="translate(-101.478) " fill="#fff "/> </g> </g> </svg> </button>
    <h1>{{title}}</h1>
    <img src="assets/img/login/logo.svg " alt=" " class="logo ">
</div>