@import "./../../../../../mixins.scss";

app-vermifugos-pet{
    ion-content{
        app-header-simples{ display: none; }
        --background: #F1F1F1;

        @include icon_name(34px);

        .sem_itens{
            padding: 33.3vw 6.9vw;
        
            p{
                margin: 0;
                color: #DC8400;
                font-size: 4.4vw;
                font-weight: bold;
                text-align: center;
            }
        }

        .content{
            @include content;
            min-height: calc(100% - 73.9vw);
            background: #F1F1F1;
            padding: 9.7vw 6.9vw 25vw;
        
            @include list_item_1;
        }

        @media (min-width: 450px){
            .sem_itens{
                padding: 150px 31px;
            
                p{
                    font-size: 20px;
                }
            }
            .content{
                min-height: calc(100% - 332px);
                padding: 44px 31px 112px;
            }
        }
        @media (min-width: 1000px){
            app-header-simples{ display: block; }
            border-bottom: 30px solid #772e8a;

            .content{
                width: 100%;
                max-width: none;
                min-height: initial;
                padding: 30px 25px 112px;
            }
        }
    }
}