<div class="pop_up_content">
  <div class="content">
    
    <div class="assinar_content">
      <h3>Funcionalidade apenas para assinantes</h3>
      <p>Proteja seu Pet e tenha acesso a dezenas de <b>facilidades exclusivas</b> que vão deixar a sua vida e do seu amiguinho bem mais confortáveis   :)</p>

      <div class="button_assinsar">
        <button class="assinar" (click)="assinarPlano()">Assinar plano</button>
        <button class="cancelar" (click)="dismiss()">Cancelar</button>
      </div>
    </div>

  </div>
</div>


