<ion-content>
    <app-header-simples title="Dados da Conta" link="/associado"></app-header-simples>

    <div class="content">
        <button routerLink="/associado/perfil">
            Perfil
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="5.751" height="9.789" viewBox="0 0 5.751 9.789"> <g id="right-arrow" transform="translate(-101.478)"> <g id="Grupo_3" data-name="Grupo 3" transform="translate(101.478)"> <path id="Caminho_2" data-name="Caminho 2" d="M107.073,4.513,102.717.156a.537.537,0,0,0-.757,0l-.321.321a.536.536,0,0,0,0,.757L105.3,4.893l-3.662,3.662a.537.537,0,0,0,0,.757l.321.321a.537.537,0,0,0,.757,0l4.36-4.36a.54.54,0,0,0,0-.76Z" transform="translate(-101.478)" fill="#bbb"/> </g> </g> </svg> 
        </button>
        <!-- <button routerLink="/associado/mensalidades">
            Mensalidades
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="5.751" height="9.789" viewBox="0 0 5.751 9.789"> <g id="right-arrow" transform="translate(-101.478)"> <g id="Grupo_3" data-name="Grupo 3" transform="translate(101.478)"> <path id="Caminho_2" data-name="Caminho 2" d="M107.073,4.513,102.717.156a.537.537,0,0,0-.757,0l-.321.321a.536.536,0,0,0,0,.757L105.3,4.893l-3.662,3.662a.537.537,0,0,0,0,.757l.321.321a.537.537,0,0,0,.757,0l4.36-4.36a.54.54,0,0,0,0-.76Z" transform="translate(-101.478)" fill="#bbb"/> </g> </g> </svg> 
        </button>
        <button routerLink="/associado/cartao-pagamento">
            Pagamento
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="5.751" height="9.789" viewBox="0 0 5.751 9.789"> <g id="right-arrow" transform="translate(-101.478)"> <g id="Grupo_3" data-name="Grupo 3" transform="translate(101.478)"> <path id="Caminho_2" data-name="Caminho 2" d="M107.073,4.513,102.717.156a.537.537,0,0,0-.757,0l-.321.321a.536.536,0,0,0,0,.757L105.3,4.893l-3.662,3.662a.537.537,0,0,0,0,.757l.321.321a.537.537,0,0,0,.757,0l4.36-4.36a.54.54,0,0,0,0-.76Z" transform="translate(-101.478)" fill="#bbb"/> </g> </g> </svg> 
        </button> -->

        <button class="sair" (click)="logout()">
            Sair
            <svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="5.751" height="9.789" viewBox="0 0 5.751 9.789"> <g id="right-arrow" transform="translate(-101.478)"> <g id="Grupo_3" data-name="Grupo 3" transform="translate(101.478)"> <path id="Caminho_2" data-name="Caminho 2" d="M107.073,4.513,102.717.156a.537.537,0,0,0-.757,0l-.321.321a.536.536,0,0,0,0,.757L105.3,4.893l-3.662,3.662a.537.537,0,0,0,0,.757l.321.321a.537.537,0,0,0,.757,0l4.36-4.36a.54.54,0,0,0,0-.76Z" transform="translate(-101.478)" fill="#bbb"/> </g> </g> </svg> 
        </button>
    </div>

    <app-mobile-menu active_page="0"></app-mobile-menu>
</ion-content>